@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.heading{

    font-family: 'Montserrat', sans-serif;
    color: white;
    letter-spacing: 4px;
}
.text-col{
    z-index: 3;
}
.body-text{
    /* font-size: 2vw; */
    color: whitesmoke;
    font-family: 'Poppins';
    letter-spacing: 0.5px;
}
.coins-image{
    height: 85%; 
    position: absolute; 
    z-index: 1; 
    left: 60vw
}
.btn_custom-1{
    width: 320px;
    height: 85px;
    background-color: #AF6F1C;
    color: white;
    font-family: 'Montserrat';
    /* font-size: 2vw; */
    border-radius: 10px;
    border: 0rem;
    box-shadow: 5px 5px rgba(0,0,0,0.1);
    transition: all 0.1s;
    position: relative;

}
.btn_custom-1:hover{
    box-shadow: 5px 5px rgba(0,0,0,0);
    background-color: #935e18;
    
    /* left: 2.5px;
    top: 2.5px; */
    /* letter-spacing: 1.6px; */
}

.vanta-canvas{
    background-color: #031636;
    width: 100%;
    height: max-content;
}


.btn_custom {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    height: 100%;
    border-radius: 0;
  }
  @media (min-width: 600px) {
    .btn_custom {
      margin: 0 1em 2em;
    }
  }
  .btn_custom:hover {
    text-decoration: none;
  }
  
  .btn_custom-1 {
    background: bd6f0c;
    font-weight: 100;
  }
  .btn_custom-1 svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .btn_custom-1 rect {
    fill: none;
    stroke: #bd6f0c;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
  
  .btn_custom-1:hover {
    background: rgba(225, 51, 45, 0);
    color: white;
    font-weight: 900;
    letter-spacing: 1px;
  }
  .btn_custom-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 54;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
